BasedOnStyle: LLVM
ColumnLimit: 79
IndentWidth: 4
UseTab: Never
BreakBeforeBraces: Stroustrup
InsertBraces: true
DerivePointerAlignment: false
PointerAlignment: Right
SpaceBeforeParens: ControlStatements
SpacesBeforeTrailingComments: 1
AlignConsecutiveMacros: true
AllowShortFunctionsOnASingleLine: false
BinPackParameters: true
InsertNewlineAtEOF: true
